*.sol_json.ast
_build/
.lia.cache
.nia.cache
Execs/
Evals/
Functions/
_Tactics/
Tactics/
_FakeProofs/
ProofsHeader.v
CommonHeader.v
build.sh
Common.v
Functions*.v
res.log
.DS_Store
pwd.tmp
output*.txt
plots/output*.txt
*.png
*.dot
*.svg
*.out
*.log